<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/login.css">


</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if(errorMessage){ %>
        <div class="user-message user-message-error"><%= errorMessage %></div>
        <% } %>

        <form class="login-form" action="/register" method="POST" novalidate>
            <input type="hidden" name="_csrf" value="<%= csrf %>">
            <div class="form-control">
                <label for="email">E-mail:</label>
                <input class="<%= validationCss.find(p => p.param === 'email') ? 'validatorBox' : '' %>" type="email"
                    name="email" id="email" value="<%= oldValue.email %>">
            </div>
            <div class="form-control">
                <label for="password">Password:</label>
                <input class="<%= validationCss.find(p => { return p.param === 'password' }) ? 'validatorBox' : '' %>"
                    type="password" name="password" id="password" value="<%= oldValue.password %>">
            </div>
            <div class="form-control">
                <label for="password">Confirm Password:</label>
                <input class="<%= validationCss.find(p => { return p.param === 'confirmpassword' }) ? 'validatorBox' : '' %>" type="password" name="confirmpassword" id="confirmpassword"
                    value="<%= oldValue.confirmpassword %>">
            </div>
            <form>
                <button class="btn" type="submit">Sign Up</button>
            </form>
    </main>
    <%- include('../includes/end.ejs') %>